* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root{
  --primary-color:cornsilk;
}

:root{
  --secondary-color:#ff7f50;
}
:root{
  --padding-level5:20px;
}
:root{
  --margin-tripleExtraLarge:100px
}
.introduction{
  background-color: var(--primary-color);
  padding: var(--padding-level5);
  margin: var(--margin-tripleExtraLarge);
}

:root {
  --secondary-color: cornsilk;
  --level5-padding: 20px;
  --branding-color: #ff7f50;
  --tripextralarge-size: 100px  

}

.introduction {
  background-color: var(--secondary-color);
  padding: var(--level5-padding);
}

h1 {
  color: var(--branding-color);
  font-size: var(--tripextralarge-size);
}
